# Ignore vendor directory
/vendor

# Ignore composer.lock file
composer.lock

# Ignore .env file (if used)
.env

# Ignore IDE-specific files and directories
.idea/
.vscode/
*.sublime-*

# Ignore log and cache directories
/logs/
/cache/
.phpunit.result.cache

